<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Bem-vindx!</mat-card-title>
    <mat-card-subtitle>Projeto prático</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Projeto criado com o objetivo de práticar os conhecimentos
      adquiridos no curso Angular - by Cod3r!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CURTIR</button>
    <button mat-button>COMPARTILHAR</button>
  </mat-card-actions>
</mat-card>
